include scripts

doctype html
html
  head
    title
      block title
      | London Timescapes film

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")
    meta(name='HandheldFriendly', content='true')
    meta(name='format-detection', content='telephone=no')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-touch-fullscreen", content="yes")
    meta(name="-webkit-text-size-adjust", content="100%")
    meta(name="title", content="London Timescapes film")
    meta(name="description", content="Stereoscopic timelapsing in London")
    link(rel='stylesheet', href='/css/main.css')

  body
    main
      div#title
        img(src='images/london-timescapes-title.svg')

      .embed-container
        iframe(src='https://player.vimeo.com/video/119159512', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

      div.description
        h4 What?
        p Short film by Alex Savin
        p More info coming soon
    +scripts
