include scripts

doctype html
html
  head
    title
      block title
      | London Timescapes film

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")
    meta(name='HandheldFriendly', content='true')
    meta(name='format-detection', content='telephone=no')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-touch-fullscreen", content="yes")
    meta(name="-webkit-text-size-adjust", content="100%")
    meta(name="title", content="London Timescapes film")
    meta(name="description", content="Stereoscopic timelapsing in London")
    link(rel='stylesheet', href='/css/main.css')

  body
    main
      div#title
        img(src='images/london-timescapes-title.svg')

      .embed-container
        iframe(src='https://player.vimeo.com/video/119159512', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

      div.description
        h4 What?
        p Short film by Alex Savin. Stereoscopic high-res timelapses of the city that never sleeps. Shot with a custom dual Canon EOS rig in native 4K 3D. Will be available for distribution around March 2015.
        h4 Download links
        p
          | You can download trailer for your personal offline usage in a multitude of formats, including proper 4K and stereoscopic 3D.
        ul
          li
            a(href="/video/London-Timescapes-Trailer-4K-2D.mp4") 4K 2D version
            |, 464 Mb
          li
            a(href="/video/London-Timescapes-Trailer-3D-4K-SBS.mp4") 4K 3D side-by-side version
            |, 464 Mb
          li
            a(href="/video/London-Timescapes-Trailer-2D-HD-1080p.m2t") HD 1080p 2D version
            |, 358 Mb
          li
            a(href="/video/London-Timescapes-Trailer-3D-HD-SBS.mp4") HD 3D 1080p side-by-side version
            |, 187 Mb
        p
          | This content is provided with Creative Commons Attribution Non-commercial ShareAlike
          a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/")  license
          | .
        h4 Stills
        p
          | A set of stereoscopic stills can be viewed on
          a(href="http://phereo.com/album/537bcd53df7df3342d000000")  Phereo
        h4 Contact
        ul
          li Twitter:
            a(href="https://twitter.com/karismafilms") @karismafilms
          li Email:
            a(href="mailto:karismafilms@gmail.com") karismafilms@gmail.com
    +scripts
